/*
https://material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=757575&secondary.color=007bff
 */

$primary: #d32f2f;
$primaryLight: #ff6659;
$primaryDark: #9a0007;
$secondary: #b71c1c;
$secondaryLight: #f05545;
$secondaryDark: #7f0000;
$light: #f5f5f6;
$dark: #000;

$textColorForBg: (
  primary: $light,
  primaryLight: $dark,
  primaryDark: $light,
  secondary: $light,
  secondaryLight: $dark,
  secondaryDark: $light,
  dark: $light,
  light: $dark
);

$navBarHeight: 54px;
$navBarHeightSm: 62px;
