@import '../../theme.scss';

.splashScreen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: transparentize($dark, 0.1);
  color: $light;
  text-align: center;
}

.splashScreen .svg-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splashScreen svg {
  left: 50%;
  color: $primary;
  font-size: 75px;
}
