@import '../../theme.scss';
$drawerBackground: $secondary;
$drawerColor: map_get($textColorForBg, secondary);
$navItemMinHeight: 43px;
$navItemPadding: 0.5rem 1rem;

/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  width: 24px;
  height: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $drawerColor;
}

/* General sidebar styles */
.bm-menu-wrap {
  z-index: 30 !important;
  letter-spacing: 1px;
}

.bm-menu {
  background: $drawerBackground;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $drawerBackground;
}

/* Wrapper for item list */
.bm-item-list {
  color: $drawerColor;
}

/* Styling of overlay */
.bm-overlay {
  z-index: 20 !important;
  background: rgba(0, 0, 0, 0.3);
}

/* Inner item list */
.bm-item-list ul {
  margin-bottom: 0;
  padding: 0.5rem 0;
}

.bm-item-list .nav-item {
  padding: $navItemPadding;
  min-height: $navItemMinHeight;
}

.bm-item-list .nav-link {
  display: block;
  padding: 0;
  color: $drawerColor;
  transition: linear 0.1s;
}

.bm-item-list .nav-link .fa-li {
  margin: 0.5rem 0;
}

/* Container */
#drawer-nav {
  position: relative;
  padding-bottom: $navBarHeight;
  min-height: 100%;
}

@media (min-width: 768px) {
  #drawer-nav {
    padding-bottom: $navBarHeightSm;
  }
}

/* Languages */
#drawer-nav .languages .btn {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  width: 100%;
  outline: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: inherit;
  text-align: left;
  font-size: inherit;
  cursor: pointer;
}

#drawer-nav .languages .flag-icon {
  margin-right: 1.5rem;
}

#drawer-nav .languages .dropdown-menu {
  margin-top: 0.5rem;
  padding: 0;
  width: 100%;
  border: none;
  border-radius: 0;
  background: $secondaryLight;
  color: map_get($textColorForBg, secondaryLight);
  font-size: inherit;
  transform: translate3d(0, $navItemMinHeight, 0) !important;
}

#drawer-nav .languages .dropdown-menu a {
  padding: $navItemPadding;
  color: map_get($textColorForBg, secondaryLight);
}

#drawer-nav .languages .dropdown-menu .dropdown-item:focus,
.dropdown-item:hover {
  background-color: inherit;
}

/* Header */
#drawer-nav header {
  position: relative;
  padding: 0 2rem 0 0.5rem;
  height: $navBarHeight;
  background-color: $secondaryDark;

  h3 {
    height: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: $navBarHeight;
  }

  & a {
    color: map_get($textColorForBg, secondaryDark);
  }
}

@media (min-width: 768px) {
  #drawer-nav header {
    height: $navBarHeightSm;

    h3 {
      line-height: $navBarHeightSm;
    }
  }
}

/* Footer */
#drawer-nav footer {
  position: absolute;
  bottom: 0;
  padding: 0 1rem;
  width: 100%;
  height: $navBarHeight;
  background-color: $secondaryDark;
  text-align: center;
  line-height: $navBarHeight;

  & a {
    color: map_get($textColorForBg, secondaryDark);
  }
}

#drawer-nav footer .nav-link {
  display: inline-block;
  margin: 0 1rem;
}

@media (min-width: 768px) {
  #drawer-nav footer {
    height: $navBarHeightSm;
    line-height: $navBarHeightSm;
  }
}

/* Scrollbar */
.bm-menu::-webkit-scrollbar-track {
  background-color: darken($drawerBackground, 10%);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.bm-menu::-webkit-scrollbar {
  width: 10px;
  background-color: darken($drawerBackground, 10%);
}

.bm-menu::-webkit-scrollbar-thumb {
  border: 1px solid darken($drawerBackground, 25%);
  background-color: darken($drawerBackground, 20%);
}
